*
    box-sizing: border-box

html, body
    position: relative
    color: #000000
    overflow-x: hidden
    font-family: 'RobotoCondensed', Arial, sans-serif
    font-size: 16px
    line-height: 1.7
    margin: 0
    padding: 0

body
    background: #ffffff

ul
    padding: 0

a
    color: #000000
    text-decoration: none
    transition: all .5s ease-in

a:hover,
a:focus
    text-decoration: none
    color: $green
    outline: none

svg, svg path
    transition: all .5s ease-in

.container 
    width: 100%
    max-width: 1680px
    margin: 0 auto
    @media (max-width: 1749px)
        padding: 0 3%
    @media (max-width: 767px)
        padding: 0 5%

.ruble
    position: relative
    padding-right: 14px
    &::after
        content: 'Р'
        position: absolute
        top: 0
        right: 0

.section__title
    font-family: 'Magistral-Book', Arial, serif
    font-size: 32px
    line-height: 54px
    letter-spacing: 0.07em