.header
    padding: 32px 0 0
    @media (max-width: 767px)
        padding: 20px 0 0
    &__inner
        display: flex
        justify-content: space-between
        @media (max-width: 767px)
            flex-wrap: wrap
    &__block
        display: flex
        align-items: flex-start
        &--right
            justify-content: flex-end
            padding-top: 32px
            @media (max-width: 1439px)
                padding-top: 18px
    &__logo
        line-height: 1
        &-text
            padding-top: 18px
            color: $green
            font-size: 11px
            line-height: 15px
            font-family: 'Magistral-Book', Arial, serif
            @media (max-width: 1439px)
                padding-top: 0
                font-size: 8px
                line-height: 10px
        &-desktop
            @media (max-width: 1439px)
                display: none
    &__nav
        padding: 32px 0 0 110px
        display: flex
        align-items: center
        @media (max-width: 1749px)
            padding-left: 32px
        @media (max-width: 1439px)
            display: none
        &-item
            padding-right: 57px
            @media (max-width: 1749px)
                padding-right: 20px
            &:last-child
                padding-right: 0
        &-link
            text-transform: uppercase
            font-size: 11px
            letter-spacing: 0.13em
            font-family: 'EuropeC', Arial, serif
    &__login
        display: inline-block
        padding: 5px 72px 0 0
        @media (max-width: 1439px)
            display: none
    &__lang
        padding-right: 72px
        @media (max-width: 1439px)
            display: none
        &-link
            text-transform: uppercase
            color: #cecece
            font-size: 11px
            letter-spacing: 0.13em
            font-family: 'Magistral-Book', Arial, serif
            &--active
                color: #000000
            &:first-child
                padding-right: 18px
    &__phone
        padding-right: 50px
        @media (max-width: 767px)
            display: none
        &-link
            letter-spacing: 0.05em
            font-family: 'Magistral-Book', Arial, serif
        &--mobile
            display: none
            @media (max-width: 767px)
                display: block
                width: 100%
                text-align: center
                padding: 12px 0 0
    &__goods
        border-radius: 50%
        background-color: #313131
        height: 26px
        line-height: 26px
        width: 26px
        text-align: center
        font-size: 11px
        letter-spacing: 0.07em
        font-family: 'Magistral-Book', Arial, serif
        color: #ffffff
    &__burger
        display: none
        &-line
            display: inline-block
            width: 45px
            position: relative
            height: 2px
            background-color: $green
            &::after,
            &::before
                content: ''
                height: 2px
                width: 100%
                background-color: $green
                position: absolute
            &::after
                top: 12px
            &::before
                top: 24px
        @media (max-width: 1439px)
            display: block

    &__mobile
        &-logo
            display: none
            @media (max-width: 1439px)
                display: block
            img
                @media (max-width: 1439px)
                    object-fit: contain
                    width: 96px
                    height: 37px

.categories
    padding: 73px 0 47px
    @media (max-width: 1023px)
        padding-top: 45px
    @media (max-width: 767px)
        padding: 20px 0
    &__inner
        display: flex
        flex-wrap: wrap
        max-width: 1450px
    &__item
        display: block
        position: relative
        font-family: 'Magistral-Book', Arial, serif
        font-size: 32px
        line-height: 54px
        letter-spacing: 0.07em
        color: #dadada
        padding-right: 70px
        @media (max-width: 1749px)
            font-size: 24px
            line-height: 36px
        @media (max-width: 1439px)
            font-size: 16px
            line-height: 24px
        @media (max-width: 767px)
            font-size: 12px
            line-height: 18px
            padding-right: 32px
        &::after
            content: '/'
            position: absolute
            font-family: 'HeliosCond', Arial, serif
            top: 4px
            right: 30px
            @media (max-width: 767px)
                right: 16px
                top: 2px
        &--active
            color: #000000
        &--edge,
        &:last-child
            padding-right: 0
            &::after
                content: none
        &--edge
            @media (max-width: 1749px)
                padding-right: 70px
                @media (max-width: 767px)
                    padding-right: 32px
            &::after
                @media (max-width: 1749px)
                    content: '/'


.sort
    padding-bottom: 80px
    @media (max-width: 1023px)
        padding-bottom: 40px
    &__inner
        display: flex
        align-items: center
        @media (max-width: 1439px)
            flex-wrap: wrap
    &__select 
        width: 100%
        padding-right: 90px
        @media (max-width: 1439px)
            padding-right: 0
        &:last-child
            padding-right: 0
    .selectize-control.single .selectize-input
        border: none
        border-bottom: 1px solid $gray
        box-shadow: none
        border-radius: 0
        padding-left: 0
        padding-right: 0
        &::after
            border: none
            background: url(../img/select-arrow.png) 50% 50% no-repeat
            background-size: contain
            width: 7px
            height: 4px
            right: 3px
        &.dropdown-active::after
            transform: rotate(180deg)
        .item
            text-transform: uppercase
            font-size: 12px
            letter-spacing: 0.13em
            font-family: 'EuropeC', Arial, serif
    .selectize-dropdown
        .option
            text-transform: uppercase
            font-size: 12px
            letter-spacing: 0.13em
            font-family: 'EuropeC', Arial, serif

.catalog
    &__inner
        display: flex
        align-items: center
        flex-wrap: wrap
    &__item
        width: 100%
        min-height: 500px
        position: relative
        margin: 0 auto
        box-sizing: border-box
        &:hover 
            .catalog__item-inner
                transform: rotateY(-180deg)
            .catalog__item-front .catalog__item-top
                display: none
        &-wrapper
            width: calc((100% - 66px)/3)
            position: relative
            height: 500px
            margin-bottom: 33px
            margin-right: 32px
            @media (max-width: 1023px)
                width: calc((100% - 33px)/2)  
            @media (max-width: 767px)
                width: 100% 
                margin-right: 0
            &:nth-child(3n + 3)
                margin-right: 0
                @media (max-width: 1023px)
                    margin-right: 33px
                    @media (max-width: 767px)
                        margin-right: 0
            &:nth-child(2n + 2)
                @media (max-width: 1023px)
                    margin-right: 0
        &-inner
            position: absolute
            width: calc(100%)
            height: calc(100%)
            text-align: center
            perspective: 1000px
            transform-style: preserve-3d
            transition: 1s
        &-front
            position: absolute
            backface-visibility: hidden
            width: calc(100%)
            min-height: calc(100%)
            background-color: #f6f6f6
            z-index: 7
        &-back 
            transform: rotateY(-180deg)
            backface-visibility: hidden
            width: calc(100%)
            min-height: calc(100%)
            background-color: #fff
            position: relative
            z-index: 5
        &-front,
        &-back
            font-family: 'Magistral-Book', Arial, serif
        &-top
            position: absolute
            top: 42px
            left: 28px
            right: 28px
            font-size: 14px
            letter-spacing: 0.07em
            text-transform: uppercase
            padding-bottom: 15px
            z-index: 8
            &-text
                display: flex
                justify-content: space-between
            &-line
                margin-top: 10px
                width: 0
                height: 1px
                background-color: $gray
        &-pic
            background-repeat: no-repeat
            background-size: contain
            background-position: 50% 50%
            position: absolute
            width: 300px
            height: 310px
            top: 50%
            left: 50%
            transform: translate(-50%, -50%)
            background-image: url(../img/product-1.png)
            @media (max-width: 1439px)
                width: 250px
                height: 258px
        &-wrapper:nth-child(2n + 2) .catalog__item-pic
            background-image: url(../img/product-2.png)
        &-back .catalog__item-top
            color: #ffffff
            .catalog__item-top-line
                background-color: #ffffff
        &-interior
            width: 100%
            height: 318px
            background-repeat: no-repeat
            background-size: cover
            background-position: 50% 50%
            background-image: url(../img/using-product.jpg)
            position: relative
            &::after
                content: ''
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background-color: rgba(0,0,0, 0.3)
        &-info
            display: flex
            justify-content: space-between
            align-items: flex-end
            padding: 38px 28px 0
            font-family: 'RobotoCondensed', Arial, serif
            font-size: 12px
            text-transform: uppercase
            letter-spacing: 0.05em
            height: 182px
            overflow: hidden
        &-text
            line-height: 30px
        &-left
            width: 45%
            text-align: left
        &-middle
            width: 45%
            text-align: left
        &-right
            width: 10%
            text-align: center
            background: url('../img/360.png') no-repeat 50% 50%
            background-size: contain
            height: 21px
            cursor: pointer
        &-link
            display: inline-block
            padding-top: 37px
            font-size: 10px
            font-family: 'EuropeC', Arial, serif
            padding-bottom: 8px
            border-bottom: 1px solid $gray
            letter-spacing: 0.13em

.articles
    padding-bottom: 185px
    @media (max-width: 1439px)
        padding-bottom: 80px
    &__top
        display: flex
        justify-content: space-between
        align-items: center
        padding-bottom: 80px
        @media (max-width: 1439px)
            padding-bottom: 45px
    &__left
        display: flex
        align-items: center
    &__prev,
    &__next
        cursor: pointer
        width: 9px
        height: 15px
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: contain
        background-image: url(../img/arrow.png)
    &__prev
        padding: 0 64px 0 60px
        @media (max-width: 767px)
            padding: 0 24px
    &__next
        transform: rotate(180deg)
    &__right
        padding-right: 72px
        position: relative
        @media (max-width: 767px)
            padding-right: 0
        &::after,
        &::before
            content: ''
            position: absolute
            right: 0
            background-color: $gray
            width: 40px
            height: 1px
            @media (max-width: 767px)
                content: none
        &::before
            top: 9px
        &::after
            top: 16px
    &__item
        outline: none
        &-title
            display: inline-block
            max-width: 610px
            font-size: 37px
            line-height: 60px
            font-family: 'EuropeC', Arial, serif
            letter-spacing: 0.07em
            text-transform: uppercase
            padding-bottom: 28px
            @media (max-width: 1439px)
                font-size: 24px
                line-height: 1.6
                max-width: 90%
            @media (max-width: 767px)
                font-size: 16px
        &-annonce
            max-width: 570px
            font-weight: 300
            font-size: 19px
            line-height: 33px
            letter-spacing: 0.025em
            min-height: 150px
            overflow: hidden
            @media (max-width: 1439px)
                max-width: 90%
            @media (max-width: 767px)
                font-size: 16px
                line-height: 1.5
        &-read
            display: flex
            align-items: center
            &-text
                display: inline-block
                font-size: 12px
                font-family: 'EuropeC', Arial, serif
                letter-spacing: 0.13em
                text-transform: uppercase
                padding-right: 32px
            &-line
                display: inline-block
                width: 70px
                height: 1px
                margin-bottom: 3px
                position: relative
            &-animate
                display: inline-block
                background-color: $gray
                width: 0
                height: 1px
                position: absolute
                top: 0
                left: 0

.footer__support
    color: #ffffff
    padding: 220px 0 160px
    background: url(../img/footer-bg.jpg) no-repeat 50% 50%
    background-size: cover
    @media (max-width: 1439px)
        padding: 80px 0
    &-inner
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    &-title
        font-family: 'Magistral-Book', Arial, serif
        font-size: 43px
        letter-spacing: 0.1em
        padding-bottom: 40px
        text-transform: uppercase
        line-height: 1
        @media (max-width: 1023px)
            font-size: 32px
        @media (max-width: 767px)
            font-size: 24px
            text-align: center
            padding-bottom: 20px
    &-info
        font-size: 21px
        font-family: 'EuropeC', Arial, serif
        letter-spacing: 0.07em
        padding-bottom: 125px
        @media (max-width: 1023px)
            font-size: 16px
            padding-bottom: 80px
        @media (max-width: 767px)
            font-size: 14px
            text-align: center
    &-phone
        color: #ffffff
    &-emails
        width: 100%
        font-size: 11px
        font-family: 'EuropeC', Arial, serif
        letter-spacing: 0.13em
        text-transform: uppercase
        &-item
            margin-bottom: 40px
            display: flex
            align-items: center
            @media (max-width: 767px)
                flex-direction: column
    &-service
        width: 50%
        text-align: right
        padding-right: 30px
        @media (max-width: 767px)
            width: 100%
            padding-right: 0
            text-align: center
    &-link
        width: 50%
        padding-left: 30px
        @media (max-width: 767px)
            width: 100%
            padding-left: 0
            text-align: center
            padding-top: 8px
        &-inner
            padding-bottom: 8px
            color: #ffffff
            display: inline-block
            border-bottom: 1px solid #ffffff
            @media (max-width: 767px)
                padding-bottom: 0

.footer__main
    padding: 65px 0 170px
    background-color: $green
    color: #ffffff
    position: relative
    @media (max-width: 767px)
        padding: 65px 0 45px
    &-round
        position: absolute
        background-color: $green
        width: 116px
        height: 116px
        border-radius: 50%
        top: 0
        left: 50%
        transform: translate(-50%, -50%)
        &::before,
        &::after
            content: ''
            position: absolute
            background-color: #ffffff
            transition: all .5s ease-in
        &::before
            top: 50%
            left: 36px
            transform: translateY(-50%)
            width: 44px
            height: 1px
        &::after
            top: 36px
            left: 50%
            transform: translateX(-50%)
            width: 1px
            height: 44px
    &-feedback
        padding-bottom: 135px
        text-align: center
        font-size: 12px
        font-family: 'EuropeC', Arial, serif
        letter-spacing: 0.13em
        text-transform: uppercase
        @media (max-width: 1023px)
            padding-bottom: 80px
        @media (max-width: 767px)
            padding-bottom: 45px
    &-nav
        display: flex
        width: 100%
        @media (max-width: 767px)
            flex-wrap: wrap
    &-left
        width: 50%
        padding-right: 50px
        display: flex
        flex-direction: column
        align-items: flex-end
        @media (max-width: 767px)
            width: 100%
            padding-right: 0
            padding-bottom: 32px
    &-right
        width: 50%
        padding-left: 50px
        @media (max-width: 767px)
            width: 100%
            padding-left: 0
    &-title
        display: flex
        align-items: center
        margin-bottom: 56px
        width: 550px
        @media (max-width: 1439px)
            width: 100%
        @media (max-width: 767px)
            margin-bottom: 16px
        &-text
            color: #000000
            font-family: 'Magistral-Book', Arial, serif
            font-size: 12px
            letter-spacing: 0.07em
            padding-right: 25px
        &-line
            background-color: #006a4b
            flex: 1
            height: 1px
    &-items
        max-width: 550px
        display: flex
        flex-wrap: wrap
    &-item
        width: 50%
    &-link
        color: #ffffff
        font-size: 12px
        font-family: 'EuropeC', Arial, serif
        letter-spacing: 0.13em
        text-transform: uppercase
        max-width: 90%
        display: inline-block
        padding-bottom: 20px
        &:hover,
        &:focus
            color: #000000

.footer__info
    background-color: $green
    padding-bottom: 55px
    @media (max-width: 1023px)
        padding-bottom: 40px
    &-inner
        display: flex
        justify-content: space-between
        color: #ffffff
        @media (max-width: 1023px)
            flex-wrap: wrap
    &-left
        display: flex
        align-items: center
        font-weight: 300
        font-size: 13px
        letter-spacing: 0.05em
        @media (max-width: 1023px)
            order: 2
            width: 100%
            flex-direction: column
            margin-bottom: 0
    &-copyright
        padding-right: 30px
        @media (max-width: 1023px)
            padding-right: 0
    &-policy
        color: #ffffff
        opacity: 0.2
    &-soc
        display: flex
        align-items: center
        margin-right: 320px
        @media (max-width: 1439px)
            margin-right: 220px
        @media (max-width: 1023px)
            order: 1
            width: 100%
            margin-right: 0
            justify-content: center
            margin-bottom: 24px
        &-link
            display: inline-block
            background-repeat: no-repeat
            background-position: 50% 50%
            background-size: contain
            width: 15px
            height: 15px
            padding-right: 75px
    &-vk    
        width: 19px
        height: 10px
        background-image: url(../img/vk.png)
    &-insta
        background-image: url(../img/insta.png)
    &-fb
        background-image: url(../img/fb.png)
    &-youtube
        width: 17px
        height: 12px
        background-image: url(../img/youtube.png)
    &-right
        font-size: 12px
        letter-spacing: 0.05em
        font-weight: 300
        @media (max-width: 1023px)
            order: 3
            width: 100%
            text-align: center
    &-liqium
        font-family: 'MagistralC', Arial, serif
        font-size: 13px
        letter-spacing: 0.07em
        text-transform: uppercase

.dealers
    background: url(../img/Elikor.jpg) no-repeat 0% 50%
    background-size: cover
    min-height: 1076px
    margin-bottom: 145px
    @media (max-width: 1199px)
        margin-bottom: 80px
    @media (max-width: 767px)
        min-height: 400px
    &__text
        padding-top: 85px
        color: #ffffff
        font-family: 'EuropeC', Arial, serif
        font-size: 32px
        letter-spacing: 0.1em
        max-width: 1250px
        @media (max-width: 767px)
            font-size: 18px
            line-height: 1.4
            padding-bottom: 100px

.advantages
    .h2
        padding-bottom: 75px
        @media (max-width: 1199px)
            padding-bottom: 45px
    &__inner
        display: flex
        flex-wrap: wrap
    .advantage
        &__item
            width: calc((100% - 70px)/2)
            background-color: #f6f6f6
            margin-right: 70px
            padding: 60px 32px
            height: 820px
            margin-bottom: 65px
            position: relative
            @media (max-width: 1199px)
                height: 680px
            @media (max-width: 1023px)
                width: 100%
                margin-right: 0
            &:nth-child(2n + 2)
                margin-right: 0
        &__title
            font-family: 'EuropeC', Arial, serif
            font-size: 18px
            letter-spacing: 0.07em
            text-transform: uppercase
            padding-bottom: 20px
        &__description
            padding-top: 36px
            font-size: 17px
            font-weight: 300
            letter-spacing: 0.025em
            line-height: 30px
        &__pic
            position: absolute
            background-repeat: no-repeat
            background-position: 50% 50%
            background-size: contain
            width: 466px
            height: 374px
            bottom: 160px
            left: 50%
            transform: translateX(-50%)
            @media (max-width: 1199px)
                width: 350px
                height: 281px
                bottom: 80px
            @media (max-width: 767px)
                width: 90%
                bottom: 32px
            &--1
                background-image: url(../img/advantage-1.png)
            &--2
                background-image: url(../img/advantage-2.png)

.question
    padding: 90px 0 95px
    width: calc((100% - 70px)/2)
    max-width: 512px
    @media (max-width: 1439px)
        max-width: none
    @media (max-width: 1023px)
        padding-top: 0
        width: 100%
    &__ask
        font-weight: 300
        font-size: 14px
        letter-spacing: 0.05em
        padding-bottom: 35px
    .label
        margin-bottom: 40px
    .textarea
        margin-bottom: 40px
    .btn
        width: 100%
        padding: 32px

.contacts__department
    width: calc((100% - 100px)/2)
    display: flex
    @media (max-width: 1439px)
        width: 100%    
    @media (max-width: 767px)
        flex-direction: column
    &:first-child
        padding-right: 100px
        @media (max-width: 1749px)
            padding-right: 20px
        @media (max-width: 1439px)
            margin-bottom: 20px
            padding-right: 0
    &-inner
        display: flex
        justify-content: space-between
        align-items: center
        @media (max-width: 1439px)
            flex-direction: column
    &-section
        padding-bottom: 178px
        .h2
            padding-bottom: 95px
    &-title
        font-family: 'Magistral-Book', Arial, serif
        font-size: 17px
        letter-spacing: 0.07em
        line-height: 32px
        text-transform: uppercase
        width: 45%
        @media (max-width: 767px)
            width: 100%
    &-data
        width: 55%
        display: flex
        flex-direction: column
        justify-content: space-between
        align-items: flex-start
        @media (max-width: 767px)
            width: 100%
    &-numbers
        width: 100%
    &-text,
    &-link
        font-weight: 300
        letter-spacing: 0.05em
        font-size: 12px
        text-transform: uppercase
        display: inline-block
    &-text
        width: 17%
        @media (max-width: 1749px)
            width: 25%
            white-space: nowrap
        @media (max-width: 767px)
            width: 20%
    &-link
        width: 28%
        @media (max-width: 1749px)
            width: 32%
            white-space: nowrap
        @media (max-width: 767px)
            width: 38%

.press
    &__article
        display: flex
        margin-bottom: 80px
        @media (max-width: 1023px)
            flex-direction: column
    &__info
        width: calc((100% - 64px)/2)
        margin-left: 32px
        padding-left: 58px
        padding-top: 145px
        max-width: 680px
        @media (max-width: 1023px)
            width: 100%
            margin-left: 0
            padding-left: 0
            max-width: none
            padding-top: 45px
        @media (max-width: 767px)
            padding-top: 20px
    &__title
        font-family: 'EuropeC', Arial, serif
        font-size: 37px
        letter-spacing: 0.07em
        text-transform: uppercase
        line-height: 60px
        padding-bottom: 25px
        @media (max-width: 1439px)
            font-size: 24px
            line-height: 1.6
    &__announce
        font-weight: 300
        font-size: 19px
        line-height: 33px
        letter-spacing: 0.025em
        padding-bottom: 90px
        @media (max-width: 1023px)
            padding-bottom: 20px
        @media (max-width: 767px)
            font-size: 16px
            line-height: 1.5
    &__pic
        width: calc((100% - 64px)/2)
        margin-right: 32px
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: cover
        min-height: 600px
        @media (max-width: 1023px)
            width: 100%
            min-height: 350px
            margin-right: 0
        &--1
            background-image: url(../img/press-1.jpg)
        &--2
            background-image: url(../img/press-2.jpg)    
        &--3
            background-image: url(../img/press-3.jpg)    
    .show__more
        padding: 20px 0 195px
        @media (max-width: 1023px)
            padding: 0 0 45px

.news
    &__inner
        padding-top: 80px
    &__year-block
        display: flex
        flex-wrap: wrap
        align-items: flex-start
    &__item
        width: calc((100% - 160px)/3)
        margin-right: 80px
        margin-bottom: 100px
        &:nth-child(3n + 3)
            margin-right: 0
    &__pic
        background-repeat: no-repeat
        background-position: 50% 50%
        background-size: cover
        height: 344px
        margin-bottom: 55px
        &--1
            background-image: url(../img/news-1.jpg)
        &--2
            background-image: url(../img/news-2.jpg)
    &__info
        display: flex
        align-items: flex-start
        justify-content: space-between
    &__title
        letter-spacing: 0.025em
        font-weight: 300
    &__date
        font-size: 14px
        color: #2fb18a
        font-weight: 300
        letter-spacing: 0.07em
    .show__more
        padding: 0 0 175px

        

            




        
