
@font-face {
  font-family: 'MagistralTT-Bold';
  src: url('MagistralTT-Bold.eot?#iefix') format('embedded-opentype'),  url('MagistralTT-Bold.woff') format('woff'), url('MagistralTT-Bold.ttf')  format('truetype'), url('MagistralTT-Bold.svg#MagistralTT-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
